<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si el archivo o directorio existe, no hacer nada
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirigir todo a index.php
    RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>
